[main]
unique_name=jelsomino

[location]
lat=55.0
lng=33.0

[persistence]
directory=/data

[item]
item_price=10
item_name=ticket

[business]
inn=770000000000

[coin_acceptor]
interface=/dev/ttyUSB0

[button]
gpio_pin=27
press_timeout=10

[button_led]
i2c_bus_id=1
i2c_device_addr=16
relay_number=2

[front_panel]
i2c_bus_id=1
i2c_device_addr=16
relay_number=1

[printer]
vendor=0x0dd4
product=0x0205
ep_in_addr=0x81
ep_out_addr=0x02
timeout=3

